{% extends "base.html" %}

{% block header %}
    <h1>电影人查询</h1>
{% endblock %}

{% block content %}
<form action="{{ url_for('actor_search') }}" class="search-form" method="post">
    <div class="form-group">
        <label for="actor_name">请输入演员/导演名称:</label>
        <input type="text" id="actor_name" name="actor_name">
        <input type="submit" value="搜索">
    </div>
</form>

{% if actor_movies %}
    <table class="actor-movies-table">
        {% for actor, relations in actor_movies.items() %}
            <tr class="actor-row">
                <th colspan="5">{{ actor[0] }} ({{ actor[1] }})</th>
            </tr>
            <tr class="movie-header">
                <th>关系</th>
                <th>电影名称</th>
                <th>年份</th>
                <th>票房</th>
                <th>评分</th>
            </tr>
            {% for relation, relation_info in relations.items() %}
                {% for movie in relation_info.movies %}
                    <tr class="movie-details">
                        {% if loop.first %}
                            <td rowspan="{{ relation_info.count }}">{{ relation }}</td>
                        {% endif %}
                        <td>{{ movie.movie_name }}</td>
                        <td>{{ movie.year }}</td>
                        <td>{{ movie.box_office }}</td>
                        <td>{{ movie.douban_rating }}</td>
                    </tr>
                {% endfor %}
            {% endfor %}
        {% endfor %}
    </table>
{% else %}
    {% if searched %}
    <h2>未找到相关结果，看看更多电影人吧！</h2>
    {% else %}
    <h2>猜您感兴趣：</h2>
    {% endif %}
    <section>
        <h2>票房之和最高的前10位电影人</h2>
        <table>
            <thead>
                <tr>
                    <th>演员</th>
                    <th>地区</th>
                    <th>总票房（亿元）</th>
                </tr>
            </thead>
            <tbody>
                {% for actor in top_people %}
                <tr>
                    <td>{{ actor.movie_person_name }}</td>
                    <td>{{ actor.country }}</td>
                    <td>{{ actor.total_box_office }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </section>
{% endif %}
{% endblock %}


