<!DOCTYPE html>
<html>
<head>
    <title>Movie Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="header-container">
        <h1>Search for a Movie</h1>
        <a href="/" class="top-right-button">Return</a>
    </div>
    <form method="POST" action="/search_movie" class="search-form">
        <input type="text" name="movie_name" placeholder="Type a movie name here..." class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    {% if movies %}
        <h2>Movie Search Results:</h2>
        <table>
            <tr>
                <th>Movie Name</th>
                <th>Release Date</th>
                <th>Country</th>
                <th>Type</th>
                <th>Year</th>
                <th>Box Office</th>
            </tr>
            {% for movie in movies %}
            <tr>
                <td>{{ movie[1] }}</td>
                <td>{{ movie[2] }}</td>
                <td>{{ movie[3] }}</td>
                <td>{{ movie[4] }}</td>
                <td>{{ movie[5] }}</td>
                <td>{{ movie[6] }} （亿元）</td>
            </tr>
            {% endfor %}
        </table>
    {% endif %}
    <div class="footer-image">
        <img src="static/images/minions2.jpg" alt="Minions">
    </div>
</body>
</html>
