<!DOCTYPE html>
<html>
<head>
    <title>Actor Search</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="header-container">
        <h1>Search for an Actor</h1>
        <a href="/" class="top-right-button">Return</a>
    </div>
    <form method="POST" action="/search_actor" class="search-form">
        <input type="text" name="actor_name" placeholder="Type a actor name here..." class="search-input">
        <button type="submit" class="search-button">Search</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}

    <!-- {% if actors %}
        <h2>Actor Search Results:</h2>
        {% for actor in actors %}
            {% if loop.index == 1 or actor[0] != actors[loop.index0 - 1][0] %}
                <h3>{{ actor[0] }} - Gender: {{ actor[1] }} - Country: {{ actor[2] }}</h3>
            {% endif %}
            <table>
                <tr>
		            <th>Relation Type</th>
                    <th>Movie Name</th>
                    <th>Release Date</th>
                    <th>Country</th>
                    <th>Type</th>
                    <th>Year</th>
                    <th>Box Office</th>
                </tr>
                <tr>
                    <td>{{ actor[3] }}</td>
                    <td>{{ actor[5] }}</td>
                    <td>{{ actor[6] }}</td>
                    <td>{{ actor[7] }}</td>
                    <td>{{ actor[8] }}</td>
                    <td>{{ actor[9] }}</td>
                    <td>{{ actor[10] }}</td>
                </tr>
            </table>
        {% endfor %}
    {% endif %} -->
    
    {% if actors %}
        <h2>Actor Search Results:</h2>
        {% for actor in actors %}
            {% if loop.index == 1 or actor[0] != actors[loop.index0 - 1][0] %}
                <h3>{{ actor[0] }} - Gender: {{ actor[1] }} - Country: {{ actor[2] }}</h3>
                <table>
                    <tr>
                        <th>Relation Type</th>
                        <th>Movie Name</th>
                        <th>Release Date</th>
                        <th>Country</th>
                        <th>Type</th>
                        <th>Year</th>
                        <th>Box Office</th>
                    </tr>
            {% endif %}
                    <tr>
                        <td>{{ actor[3] }}</td>
                        <td>{{ actor[5] }}</td>
                        <td>{{ actor[6] }}</td>
                        <td>{{ actor[7] }}</td>
                        <td>{{ actor[8] }}</td>
                        <td>{{ actor[9] }}</td>
                        <td>{{ actor[10] }}(亿元)</td>
                    </tr>
            {% if loop.last or actors[loop.index0][0] != actor[0] %}
                </table> 
            {% endif %}    
        {% endfor %}
    {% endif %}


    <!-- {% if actors %}
        <h2>Actor Search Results:</h2>
        {% set current_actor = None %}
        {% for actor in actors %}
            {% if current_actor != actor[0] %}
                {% if current_actor is not none %}
                    </table>
                {% endif %}
                <h3>{{ actor[0] }} - Gender: {{ actor[1] }} - Country: {{ actor[2] }}</h3>
                <table>
                    <tr>
                        <th>Relation Type</th>
                        <th>Movie Name</th>
                        <th>Release Date</th>
                        <th>Country</th>
                        <th>Type</th>
                        <th>Year</th>
                        <th>Box Office</th>
                    </tr>
                {% endif %}
                <tr>
                    <td>{{ actor[3] }}</td>
                    <td>{{ actor[5] }}</td>
                    <td>{{ actor[6] }}</td>
                    <td>{{ actor[7] }}</td>
                    <td>{{ actor[8] }}</td>
                    <td>{{ actor[9] }}</td>
                    <td>{{ actor[10] }}(亿元)</td>
                </tr>
                {% set current_actor = actor[0] %}
            {% endfor %}
            {% if current_actor is not none %}
                </table>
            {% endif %}
    {% endif %} -->





    <div class="footer-image">
        <img src="static/images/minions2.jpg" alt="Minions">
    </div>
</body>
</html>
